/app.config.timestamp*
/.commitlintrc.json
/drizzle.config.ts
/oxlint.config.ts
/components.json
/oxfmt.config.ts
/pnpm-debug.log*
/.gitattributes
/.editorconfig
/node_modules
/.gitignore
/.npmignore
/.tanstack
/knip.json
.DS_Store
Thumbs.db
/.vercel
/.output
/.github
/.vscode
/assets
/.nitro
/.husky
/.cache
/.env.*
/build
/*.md
/dist
/docs
/.env
/.git
/tmp
